USE [master]
GO
/****** Object:  Database [OnlineShop]    Script Date: 09/12/17 10:17:20 AM ******/
CREATE DATABASE [OnlineShop]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnlineShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OnlineShop]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 09/12/17 10:17:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AppRoles]    Script Date: 09/12/17 10:17:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_dbo.AppRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AppUserClaims]    Script Date: 09/12/17 10:17:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUserClaims](
	[UserId] [nvarchar](128) NOT NULL,
	[Id] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[AppUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AppUserClaims] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AppUserLogins]    Script Date: 09/12/17 10:17:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUserLogins](
	[UserId] [nvarchar](128) NOT NULL,
	[LoginProvider] [nvarchar](max) NULL,
	[ProviderKey] [nvarchar](max) NULL,
	[AppUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AppUserLogins] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AppUserRoles]    Script Date: 09/12/17 10:17:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[AppUser_Id] [nvarchar](128) NULL,
	[IdentityRole_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AppUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AppUsers]    Script Date: 09/12/17 10:17:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FullName] [nvarchar](256) NULL,
	[Address] [nvarchar](256) NULL,
	[BirthDay] [datetime] NULL,
	[Gender] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Email] [nvarchar](max) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.AppUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Manufactures]    Script Date: 09/12/17 10:17:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufactures](
	[ManufactureID] [uniqueidentifier] NOT NULL,
	[ManufactureName] [nvarchar](max) NULL,
	[Logo] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Manufactures] PRIMARY KEY CLUSTERED 
(
	[ManufactureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 09/12/17 10:17:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [uniqueidentifier] NOT NULL,
	[OrderID] [uniqueidentifier] NOT NULL,
	[ProductID] [uniqueidentifier] NOT NULL,
	[SaleNumber] [decimal](18, 2) NOT NULL,
	[SalePrice] [decimal](18, 2) NOT NULL,
	[TotalCost] [decimal](18, 2) NOT NULL,
	[ProductSpec] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 09/12/17 10:17:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [uniqueidentifier] NOT NULL,
	[BillCode] [nvarchar](256) NOT NULL,
	[OrderStatusID] [nvarchar](50) NULL,
	[TotalCost] [decimal](18, 2) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[CustomerId] [nvarchar](128) NULL,
	[CustomerName] [nvarchar](256) NOT NULL,
	[CustomerAddress] [nvarchar](256) NOT NULL,
	[CustomerEmail] [nvarchar](256) NOT NULL,
	[CustomerMobile] [nvarchar](50) NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[Note] [nvarchar](500) NULL,
	[PaymentMethod] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 09/12/17 10:17:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[OrderStatusID] [nvarchar](50) NOT NULL,
	[OrderStatusName] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.OrderStatus] PRIMARY KEY CLUSTERED 
(
	[OrderStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 09/12/17 10:17:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Alias] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DisplayOrder] [int] NULL,
	[Status] [bit] NOT NULL DEFAULT ((0)),
	[ParentID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.ProductCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 09/12/17 10:17:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[ProductImageID] [uniqueidentifier] NOT NULL,
	[ProductID] [uniqueidentifier] NOT NULL,
	[Path] [nvarchar](250) NULL,
	[Caption] [nvarchar](256) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ProductImages] PRIMARY KEY CLUSTERED 
(
	[ProductImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 09/12/17 10:17:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [uniqueidentifier] NOT NULL,
	[ProductName] [nvarchar](256) NOT NULL,
	[Alias] [nvarchar](256) NOT NULL,
	[ProductCategoryID] [uniqueidentifier] NOT NULL,
	[ThumbnailImage] [nvarchar](256) NULL,
	[CalculationUnit] [nvarchar](50) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[OriginalPrice] [decimal](18, 2) NOT NULL,
	[PromotionPrice] [decimal](18, 2) NULL,
	[IncludedVAT] [bit] NOT NULL,
	[Warranty] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[FullDescription] [nvarchar](max) NULL,
	[ViewCount] [int] NULL,
	[Tags] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsBuy] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[ManufactureID] [uniqueidentifier] NOT NULL DEFAULT ('00000000-0000-0000-0000-000000000000'),
	[HotFlag] [bit] NOT NULL,
	[Quantity] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductTags]    Script Date: 09/12/17 10:17:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductTags](
	[ProductID] [uniqueidentifier] NOT NULL,
	[TagID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.ProductTags] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 09/12/17 10:17:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tags](
	[ID] [varchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Tags] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AppRoles] ([Id], [Name], [Description], [Discriminator], [IsDeleted]) VALUES (N'034788ac-0889-41dd-94fe-052b7383629a', N'121212', N'12121212222', N'AppRole', 1)
INSERT [dbo].[AppRoles] ([Id], [Name], [Description], [Discriminator], [IsDeleted]) VALUES (N'041fb649-2483-40fb-ba9a-ed8c9ebdb710', N'Quyền 1', N'khong o', N'AppRole', 1)
INSERT [dbo].[AppRoles] ([Id], [Name], [Description], [Discriminator], [IsDeleted]) VALUES (N'05b51412-8739-4e49-a46c-d4162f109599', N'Tào Lao', N'Tào lao lắm', N'AppRole', 1)
INSERT [dbo].[AppUserRoles] ([UserId], [RoleId], [AppUser_Id], [IdentityRole_Id]) VALUES (N'12319a3d-b37f-41f1-95a3-c0ea8b920996', N'252cefd6-9147-47ea-b9b9-e26fb02fc4c9', NULL, NULL)
INSERT [dbo].[AppUserRoles] ([UserId], [RoleId], [AppUser_Id], [IdentityRole_Id]) VALUES (N'2b9311da-d585-4482-b4bf-2e6ec8017665', N'252cefd6-9147-47ea-b9b9-e26fb02fc4c9', NULL, NULL)
INSERT [dbo].[AppUserRoles] ([UserId], [RoleId], [AppUser_Id], [IdentityRole_Id]) VALUES (N'34912b52-ca82-422c-975c-88ed078ba335', N'252cefd6-9147-47ea-b9b9-e26fb02fc4c9', NULL, NULL)
INSERT [dbo].[Manufactures] ([ManufactureID], [ManufactureName], [Logo], [Description], [Url]) VALUES (N'd138e64e-e3f5-4add-b12a-245811c5beb6', N'Apple', N'/Assets/UploadedFiles/files/apple-classic-logo-vector-400x400.png', N'hàng Apple', N'https://www.apple.com/')
INSERT [dbo].[Manufactures] ([ManufactureID], [ManufactureName], [Logo], [Description], [Url]) VALUES (N'06fa0804-c80c-426c-8b39-a8bbe40c4aec', N'HTC', N'/Assets/UploadedFiles/files/HTC_logo.png', N'HTC', N'http://www.htc.com/vn/')
INSERT [dbo].[Manufactures] ([ManufactureID], [ManufactureName], [Logo], [Description], [Url]) VALUES (N'8ff3bf73-6d4c-4734-a01b-d1ab6b3d9e6d', N'SamSung', N'/Assets/UploadedFiles/files/logo-samsung.png', N'SamSung', N'http://www.samsung.com/vn/')
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [SaleNumber], [SalePrice], [TotalCost], [ProductSpec]) VALUES (N'a70b9461-c87b-498d-96fa-00b4405e9b97', N'19fb7395-5dad-4e13-81f4-96e8dc809fb6', N'9d45bebc-2e6f-4930-b055-8cc19bbae361', CAST(1.00 AS Decimal(18, 2)), CAST(20990000.00 AS Decimal(18, 2)), CAST(20990000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [SaleNumber], [SalePrice], [TotalCost], [ProductSpec]) VALUES (N'1c76cf15-1071-407c-8d3d-0116321a242e', N'b5b67ee7-9064-40a2-822d-ecfe5dfaa3ee', N'9d45bebc-2e6f-4930-b055-8cc19bbae361', CAST(1.00 AS Decimal(18, 2)), CAST(20990000.00 AS Decimal(18, 2)), CAST(20990000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [SaleNumber], [SalePrice], [TotalCost], [ProductSpec]) VALUES (N'6931f766-ebb1-4ada-849d-0188b13972d2', N'f73ea836-ba90-45b2-a796-dc51d99fe685', N'9d45bebc-2e6f-4930-b055-8cc19bbae361', CAST(1.00 AS Decimal(18, 2)), CAST(20990000.00 AS Decimal(18, 2)), CAST(20990000.00 AS Decimal(18, 2)), NULL)
GO
INSERT [dbo].[OrderStatus] ([OrderStatusID], [OrderStatusName], [Description]) VALUES (N'COMPLETE', N'Hoàn thành', N'Sản phẩm đưa tới tay người đặt hàng/hóa đơn thanh toán hết')
INSERT [dbo].[OrderStatus] ([OrderStatusID], [OrderStatusName], [Description]) VALUES (N'CONFIRM', N'Đã xác nhận', N'Trạng thái được xác nhận từ phía khách hàng')
INSERT [dbo].[OrderStatus] ([OrderStatusID], [OrderStatusName], [Description]) VALUES (N'NOPROCESSING', N'Chưa xử lý', N'Trạng thái chưa xử lý')
INSERT [dbo].[ProductCategories] ([ID], [Name], [Alias], [Description], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDeleted], [DisplayOrder], [Status], [ParentID]) VALUES (N'ea707899-806b-4060-af0d-0b253ae73451', N'Sony', N'sony', N'Sony', CAST(N'2017-08-29 20:50:28.077' AS DateTime), N'hungdng.92@gmail.com', NULL, NULL, 0, 3, 1, N'5c6f70a8-12ce-4ee4-bc77-d7e45fd8f521')
INSERT [dbo].[ProductCategories] ([ID], [Name], [Alias], [Description], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDeleted], [DisplayOrder], [Status], [ParentID]) VALUES (N'a77c9b8e-3287-4ab9-8773-0e41556f60a2', N'Laptop', N'laptop', N'Laptop', CAST(N'2017-08-29 10:42:36.200' AS DateTime), N'hungdng.92@gmail.com', NULL, NULL, 0, 2, 1, NULL)
INSERT [dbo].[ProductCategories] ([ID], [Name], [Alias], [Description], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDeleted], [DisplayOrder], [Status], [ParentID]) VALUES (N'71347f83-e3db-46ca-80e9-3844d7d20285', N'Dell', N'dell', N'Dell', CAST(N'2017-08-29 10:42:57.200' AS DateTime), N'hungdng.92@gmail.com', NULL, NULL, 0, 1, 1, N'a77c9b8e-3287-4ab9-8773-0e41556f60a2')
INSERT [dbo].[ProductTags] ([ProductID], [TagID]) VALUES (N'e42deb79-5038-4b69-bca4-7c2412110464', N'dell')
INSERT [dbo].[ProductTags] ([ProductID], [TagID]) VALUES (N'eb3fc04d-b6a0-4c70-971f-f843f25854d4', N'dell')
INSERT [dbo].[ProductTags] ([ProductID], [TagID]) VALUES (N'e42deb79-5038-4b69-bca4-7c2412110464', N'laptop')
INSERT [dbo].[Tags] ([ID], [Name], [Type]) VALUES (N'dell', N'Dell', N'product')
INSERT [dbo].[Tags] ([ID], [Name], [Type]) VALUES (N'laptop', N' laptop', N'product')
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AppUser_Id]    Script Date: 09/12/17 10:17:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_AppUser_Id] ON [dbo].[AppUserClaims]
(
	[AppUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AppUser_Id]    Script Date: 09/12/17 10:17:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_AppUser_Id] ON [dbo].[AppUserLogins]
(
	[AppUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AppUser_Id]    Script Date: 09/12/17 10:17:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_AppUser_Id] ON [dbo].[AppUserRoles]
(
	[AppUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_IdentityRole_Id]    Script Date: 09/12/17 10:17:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_IdentityRole_Id] ON [dbo].[AppUserRoles]
(
	[IdentityRole_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderID]    Script Date: 09/12/17 10:17:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderID] ON [dbo].[OrderDetails]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductID]    Script Date: 09/12/17 10:17:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[OrderDetails]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CustomerId]    Script Date: 09/12/17 10:17:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerId] ON [dbo].[Orders]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_OrderStatusID]    Script Date: 09/12/17 10:17:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderStatusID] ON [dbo].[Orders]
(
	[OrderStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductID]    Script Date: 09/12/17 10:17:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[ProductImages]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ManufactureID]    Script Date: 09/12/17 10:17:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_ManufactureID] ON [dbo].[Products]
(
	[ManufactureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductCategoryID]    Script Date: 09/12/17 10:17:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductCategoryID] ON [dbo].[Products]
(
	[ProductCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductID]    Script Date: 09/12/17 10:17:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[ProductTags]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_TagID]    Script Date: 09/12/17 10:17:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_TagID] ON [dbo].[ProductTags]
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppUserClaims_dbo.AppUsers_AppUser_Id] FOREIGN KEY([AppUser_Id])
REFERENCES [dbo].[AppUsers] ([Id])
GO
ALTER TABLE [dbo].[AppUserClaims] CHECK CONSTRAINT [FK_dbo.AppUserClaims_dbo.AppUsers_AppUser_Id]
GO
ALTER TABLE [dbo].[AppUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppUserLogins_dbo.AppUsers_AppUser_Id] FOREIGN KEY([AppUser_Id])
REFERENCES [dbo].[AppUsers] ([Id])
GO
ALTER TABLE [dbo].[AppUserLogins] CHECK CONSTRAINT [FK_dbo.AppUserLogins_dbo.AppUsers_AppUser_Id]
GO
ALTER TABLE [dbo].[AppUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppUserRoles_dbo.AppRoles_IdentityRole_Id] FOREIGN KEY([IdentityRole_Id])
REFERENCES [dbo].[AppRoles] ([Id])
GO
ALTER TABLE [dbo].[AppUserRoles] CHECK CONSTRAINT [FK_dbo.AppUserRoles_dbo.AppRoles_IdentityRole_Id]
GO
ALTER TABLE [dbo].[AppUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppUserRoles_dbo.AppUsers_AppUser_Id] FOREIGN KEY([AppUser_Id])
REFERENCES [dbo].[AppUsers] ([Id])
GO
ALTER TABLE [dbo].[AppUserRoles] CHECK CONSTRAINT [FK_dbo.AppUserRoles_dbo.AppUsers_AppUser_Id]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.AppUsers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[AppUsers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.AppUsers_CustomerId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.OrderStatus_OrderStatusID] FOREIGN KEY([OrderStatusID])
REFERENCES [dbo].[OrderStatus] ([OrderStatusID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.OrderStatus_OrderStatusID]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductImages_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_dbo.ProductImages_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Manufactures_ManufactureID] FOREIGN KEY([ManufactureID])
REFERENCES [dbo].[Manufactures] ([ManufactureID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Manufactures_ManufactureID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductCategories_ProductCategoryID] FOREIGN KEY([ProductCategoryID])
REFERENCES [dbo].[ProductCategories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductCategories_ProductCategoryID]
GO
ALTER TABLE [dbo].[ProductTags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductTags_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductTags] CHECK CONSTRAINT [FK_dbo.ProductTags_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[ProductTags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductTags_dbo.Tags_TagID] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tags] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductTags] CHECK CONSTRAINT [FK_dbo.ProductTags_dbo.Tags_TagID]
GO
USE [master]
GO
