<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- email config -->
  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="hungdng.92@gmail.com"/>
  <add key="FromEmailPassword" value="nopassword"/>
  <add key="FromName" value="Online Shop"/>
  
  <!-- paging-->
  <add key="pageSize" value="20" />
  <add key="pageSizeAjax" value="5" />
  <add key="maxPage" value="5" />

</appSettings>